In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [50]:
df = pd.read_csv("stroke-data.csv")
print(df.head(10))

      id  gender   age  hypertension  heart_disease ever_married  \
0   9046    Male  67.0             0              1          Yes
1  51676  Female  61.0             0              0          Yes
2  31112    Male  80.0             0              1          Yes
3  60182  Female  49.0             0              0          Yes
4   1665  Female  79.0             1              0          Yes
5  56669    Male  81.0             0              0          Yes
6  53882    Male  74.0             1              1          Yes
7  10434  Female  69.0             0              0           No
8  27419  Female  59.0             0              0          Yes
9  60491  Female  78.0             0              0          Yes

       work_type Residence_type  avg_glucose_level   bmi   smoking_status  \
0        Private          Urban             228.69  36.6  formerly smoked
1  Self-employed          Rural             202.21   NaN     never smoked
2        Private          Rural             105.92  32.5     never smoked
3        Private          Urban             171.23  34.4           smokes
4  Self-employed          Rural             174.12  24.0     never smoked
5        Private          Urban             186.21  29.0  formerly smoked
6        Private          Rural              70.09  27.4     never smoked
7        Private          Urban              94.39  22.8     never smoked
8        Private          Rural              76.15   NaN          Unknown
9        Private          Urban              58.57  24.2          Unknown

   stroke
0       1
1       1
2       1
3       1
4       1
5       1
6       1
7       1
8       1
9       1

In [51]:
df.isna().sum()
df.isnull().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [52]:
df.fillna(0, inplace=True)

In [53]:
df.isna().sum()
df.isnull().sum()

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [54]:
#df.to_csv('dataset1.csv', index=False)

In [55]:
df = pd.read_csv("dataset1.csv")
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
5105    False
5106    False
5107    False
5108    False
5109    False
Length: 5110, dtype: bool

In [56]:
df = df.drop('id', axis=1)
print(df.head(10))

   gender   age  hypertension  heart_disease ever_married      work_type  \
0    Male  67.0             0              1          Yes        Private
1  Female  61.0             0              0          Yes  Self-employed
2    Male  80.0             0              1          Yes        Private
3  Female  49.0             0              0          Yes        Private
4  Female  79.0             1              0          Yes  Self-employed
5    Male  81.0             0              0          Yes        Private
6    Male  74.0             1              1          Yes        Private
7  Female  69.0             0              0           No        Private
8  Female  59.0             0              0          Yes        Private
9  Female  78.0             0              0          Yes        Private

  Residence_type  avg_glucose_level   bmi   smoking_status  stroke
0          Urban             228.69  36.6  formerly smoked       1
1          Rural             202.21   0.0     never smoked       1
2          Rural             105.92  32.5     never smoked       1
3          Urban             171.23  34.4           smokes       1
4          Rural             174.12  24.0     never smoked       1
5          Urban             186.21  29.0  formerly smoked       1
6          Rural              70.09  27.4     never smoked       1
7          Urban              94.39  22.8     never smoked       1
8          Rural              76.15   0.0          Unknown       1
9          Urban              58.57  24.2          Unknown       1

In [57]:
#df.to_csv('dataset2.csv', index=False)

In [58]:
df = pd.read_csv("dataset2.csv")

In [59]:
df.drop(df[df['gender'] == "Other"].index, inplace = True)
print(df)
df['gender'].value_counts()

      gender   age  hypertension  heart_disease ever_married      work_type  \
0       Male  67.0             0              1          Yes        Private
1     Female  61.0             0              0          Yes  Self-employed
2       Male  80.0             0              1          Yes        Private
3     Female  49.0             0              0          Yes        Private
4     Female  79.0             1              0          Yes  Self-employed
...      ...   ...           ...            ...          ...            ...
5105  Female  80.0             1              0          Yes        Private
5106  Female  81.0             0              0          Yes  Self-employed
5107  Female  35.0             0              0          Yes  Self-employed
5108    Male  51.0             0              0          Yes        Private
5109  Female  44.0             0              0          Yes       Govt_job

     Residence_type  avg_glucose_level   bmi   smoking_status  stroke
0             Urban             228.69  36.6  formerly smoked       1
1             Rural             202.21   0.0     never smoked       1
2             Rural             105.92  32.5     never smoked       1
3             Urban             171.23  34.4           smokes       1
4             Rural             174.12  24.0     never smoked       1
...             ...                ...   ...              ...     ...
5105          Urban              83.75   0.0     never smoked       0
5106          Urban             125.20  40.0     never smoked       0
5107          Rural              82.99  30.6     never smoked       0
5108          Rural             166.29  25.6  formerly smoked       0
5109          Urban              85.28  26.2          Unknown       0

[5109 rows x 11 columns]

Female    2994
Male      2115
Name: gender, dtype: int64

In [60]:
#df.to_csv('dataset3.csv', index=False)

In [61]:
from pandas_profiling import ProfileReport

In [62]:
#profile = ProfileReport(df)
#profile.to_file(output_file="report1.html")

In [63]:
df = pd.read_csv("dataset3.csv")
cat_cols = df.select_dtypes(include=['object']).columns.tolist()
cat_cols

['gender', 'ever_married', 'work_type', 'Residence_type', 'smoking_status']

In [64]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

for col in cat_cols: 
    le.fit(df[col])
    df[col] = le.transform(df[col])

In [65]:
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,67.0,0,1,1,2,1,228.69,36.6,1,1
1,0,61.0,0,0,1,3,0,202.21,0.0,2,1
2,1,80.0,0,1,1,2,0,105.92,32.5,2,1
3,0,49.0,0,0,1,2,1,171.23,34.4,3,1
4,0,79.0,1,0,1,3,0,174.12,24.0,2,1
...,...,...,...,...,...,...,...,...,...,...,...
5104,0,80.0,1,0,1,2,1,83.75,0.0,2,0
5105,0,81.0,0,0,1,3,1,125.20,40.0,2,0
5106,0,35.0,0,0,1,3,0,82.99,30.6,2,0
5107,1,51.0,0,0,1,2,0,166.29,25.6,1,0
5108,0,44.0,0,0,1,0,1,85.28,26.2,0,0

In [66]:
#df.to_csv('dataset-nocat.csv', index=False)

In [6]:
df = pd.read_csv("dataset3.csv")
df.drop(df[df['age'] < 1].index, inplace = True)
print(df)
df.to_csv('dataset-age.csv', index=False)

      gender   age  hypertension  heart_disease ever_married      work_type  \
0       Male  67.0             0              1          Yes        Private
1     Female  61.0             0              0          Yes  Self-employed
2       Male  80.0             0              1          Yes        Private
3     Female  49.0             0              0          Yes        Private
4     Female  79.0             1              0          Yes  Self-employed
...      ...   ...           ...            ...          ...            ...
5104  Female  80.0             1              0          Yes        Private
5105  Female  81.0             0              0          Yes  Self-employed
5106  Female  35.0             0              0          Yes  Self-employed
5107    Male  51.0             0              0          Yes        Private
5108  Female  44.0             0              0          Yes       Govt_job

     Residence_type  avg_glucose_level   bmi   smoking_status  stroke
0             Urban             228.69  36.6  formerly smoked       1
1             Rural             202.21   0.0     never smoked       1
2             Rural             105.92  32.5     never smoked       1
3             Urban             171.23  34.4           smokes       1
4             Rural             174.12  24.0     never smoked       1
...             ...                ...   ...              ...     ...
5104          Urban              83.75   0.0     never smoked       0
5105          Urban             125.20  40.0     never smoked       0
5106          Rural              82.99  30.6     never smoked       0
5107          Rural             166.29  25.6  formerly smoked       0
5108          Urban              85.28  26.2          Unknown       0

[5066 rows x 11 columns]